body{
    /* background-color: rgb(43, 49, 59); */
    background-color: #37465B;
}
*{
    margin:0;
    padding: 0;
}
.cms{
    display: flex;
    width:calc(100% - 200px);
    justify-content: space-between;
    flex-direction: row;
    margin-top: 15px;
    padding: 0 30px;
    margin:50px 0 0 200px;
    background-color: #37465B;
}
#logo{
    font-size: 24px;
    text-align: center;
    color:#111;
    margin-top: 20px;
    display: flex;
    padding: 0px 150px;
    justify-content: space-between;
}
.member{
    width:30%;
}
#max{
    width:100%;
    height: 600px;
    border:1px #aaa solid;
    list-style: none;
    overflow-y: scroll;
    padding: 10px;
    background-color: #fff;
    /* box-shadow: 0px 5px 15px #111; */
}
.middle{
    margin-left:20px;
    list-style:none;
}
.middle > .middlelist{
    cursor: pointer;
    /* margin:6px 0; */
    display: flex;
    /* justify-content:  center; */
    flex-direction: column;
    min-height: 30px;
    line-height: 30px;

}
.middle > .middlelist>.middleusername{
    position: relative;
    display: flex;
    align-items: center;
}

.middle > .middlelist >.middleusername > i{
    display: none;
    margin-right: 5px;
    line-height: 30px;
    
}
.min{
    margin-left:30px;
    display: none;
}
.min > li{
    font-size: 14px;
    list-style: circle;
}

.usercontent{
    width:70%;
    height: 600px;
    /* margin:0 10px; */
    border:1px #aaa solid;
    display: flex;
    position: relative;
    padding: 15px;
    background-color: #fff;
    /* box-shadow: 0px 5px 15px #111; */
}
.usercontent h3 {
    margin:20px 0;
}
.opacitytext{
    opacity: 0;
    overflow: hidden;
    width:0;
    height: 0;
    position: absolute;
    top: -9999999999999999999999px;
    left:-99999999999999999999px;
}
#update{
    width:120px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color:#fff;
    background-color: #333;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom:20px;
}
#qrcode{
    width:120px;
    height: 120px;
}
.uname:hover{
    border-bottom: 1px #000 solid;
}
.search{
    width:100%;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.search #searchbox{
    width:80%;
    height: 30px;
    border:1px #ccc solid;
    outline: none;
}
.search #searchbtn{
    width:30px;
    height: 30px;
    background-color: #333;
    color:#fff;
    cursor: pointer;
}

header#header{
    position: fixed;
    top: 0;
    left:0;
    width:200px;
    height: 100vh;
    z-index: 999;
    background-color: #566379;
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:flex-start;
    padding:30px 0;
    box-shadow: 2px 0px 15px #666;
    border: 1px #394355 solid;
}
header#header > a{
    color:#fff;
    height: 50px;
    padding:0 30px ;
    line-height: 50px;
    display: block;
    width:100%;
    font-weight: 600;
}
header#header >a>  i{
    color:#fff;
    margin:0 5px;
}
header#header > a.focus{
    background-color: #2F3D4E;
}
header#header > a:hover{
    background-color: #2F3D4E;
    transition: .5s;
}
#toolbar{
    width:calc(100% - 200px);
    position: fixed;
    top: 0;
    left:200px;
    height: 50px;
    background-color: #566379;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#toolbar > a{
    color:#fff;
    background-color: #2C3645;
    display: block;
    widtH:60px;
    height: 30px;
    border-radius: 15px;
    border: 1px #fff solid;
    line-height: 30px;
    text-align: center;
    margin: 0 20px;
    font-size: 14px;
}
#toolbar > p{
    color:#fff;
    margin: 0 20px;
    font-weight: 600;
}