* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header#header {
  width: 100%;
  height: 80px;
  background-color: #111;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9999;
}

@media screen and (max-width: 1060px) {
  header#header {
    height: 120px;
  }
}

header#header > a {
  width: 150px;
  display: block;
}

header#header > a > img {
  width: 150px;
}

header#header > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 80px;
}

@media screen and (max-width: 1060px) {
  header#header > ul {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(219, 185, 60, 0.75);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: .5s;
    transition: .5s;
  }
}

header#header > ul > a {
  width: 100px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  height: 100%;
  display: block;
  line-height: 80px;
  text-decoration: none;
}

header#header > ul > a:hover {
  background-color: #aaa;
  -webkit-transition: .5s;
  transition: .5s;
}

@media screen and (max-width: 1060px) {
  header#header > ul > a {
    height: 100px;
    line-height: 100px;
    width: 100%;
    font-size: 36px;
  }
}

header#header > #menu {
  position: absolute;
  top: 50%;
  right: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 48px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 1060px) {
  header#header > #menu {
    display: block;
  }
}

#index #banner {
  width: 100%;
  height: 100vh;
  background-color: #ccc;
  position: relative;
}

#index #banner > .bannerImg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#index #banner > video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#index #banner > a {
  display: block;
  width: 300px;
  height: 70px;
  text-align: center;
  line-height: 60px;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-image: -webkit-gradient(linear, right top, left top, from(#FF4694), color-stop(#db005b), to(#FF4694));
  background-image: linear-gradient(to left, #FF4694, #db005b, #FF4694);
  border-radius: 5px;
  background-size: 200%;
}

@media screen and (max-width: 1060px) {
  #index #banner > a {
    width: 400px;
    height: 90px;
    font-size: 48px;
  }
}

@media screen and (max-width: 500px) {
  #index #banner > a {
    font-size: 48px;
    width: 80%;
    height: 90px;
  }
}

#index #banner > a:hover {
  background-position: right;
  -webkit-transition: .5s;
  transition: .5s;
}

#index #banner > a > span.line1 {
  width: 2px;
  height: 35px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#index #banner > a > span.line2 {
  width: 2px;
  height: 35px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#index #banner > a > p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}
/*# sourceMappingURL=style.css.map */